@page "/bookDelete/{id:int}"
@inject IBookService BookService
@inject NavigationManager NavigationManager
<h1>Book Delete</h1>
<p style="color:red;text-align:center">Are you sure you want to delete this book?</p>
<EditForm Model="@book">
    <table class="table">
        <tr>
            <td>Title:</td>
            <td><input class="form-control col-sm-4" type="text" @bind="book.Title" /></td>
        </tr>
        <tr>
            <td>Author:</td>
            <td><input class="form-control col-sm-4" type="text" @bind="book.Author" /></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center">
                <input type="submit" value="Save" @onclick="DeleteBook" />
                <input type="button" value="Cancel" @onclick="Cancel" />
            </td>
        </tr>
    </table>
</EditForm>
@code {
    [Parameter]
    public int id { get; set; }
    private Book book = new Book();
    protected override async Task OnInitializedAsync()
    {
        book = await BookService.GetBookDetails(id);
    }
    protected async Task DeleteBook()
    {
        await BookService.DeleteBook(id);
        NavigationManager.NavigateTo("/");
    }
    protected void Cancel()
    {
        NavigationManager.NavigateTo("/");
    }
}
